<h2>添加新联系人</h2>
<form name="post" ng-submit="save()">
<label>姓名：
	<input type="text" name="name" ng-model="user.name" required ng-pattern="/(^[A-Za-z0-9]{2,20}$)|(^[\u4E00-\u9FA5]{2,8}$)/" placeholder="Name">
      <span ng-show="post.name.$error.required" class="help-inline"> 必填</span>
      <span ng-show="post.name.$error.pattern" class="help-inline"> 用户名不合法</span>
</label>
<label>类型：
	<input type="text" name="type" ng-model="user.type" required ng-pattern="/(^[A-Za-z0-9]{2,20}$)|(^[\u4E00-\u9FA5]{2,8}$)/" placeholder="Type">
      <span ng-show="post.type.$error.required" class="help-inline"> 必填</span>
      <span ng-show="post.type.$error.pattern" class="help-inline"> 类型不合法</span>
</label>
<label>电话：
	<input type="text" name="phone" ng-model="user.phone" placeholder="phone" required phone-num>
      <span ng-show="post.phone.$error.required" class="help-inline"> 必填</span>
      <span ng-show="post.phone.$error.phoneNum" class="help-inline"> 电话不合法或者已存在的号码</span>
</label>
<input type="submit" class="btn" ng-disabled="post.$invalid" value="保存"/>
<a href="javascript:;" class="btn" ng-click="reset()">重置</a>
</form>